.hero-container {
	height: 100vh;
	padding-bottom: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--primary-color);
	opacity: 0.9;
}
.home-title {
	width: 570px;
	color: #fff;
	font-size: 24px;
}
.home-container {
	margin-top: 0;
}
.hero-icon {
	margin-left: 90%;
}
@media (max-width: 700px) {
	.home-title {
		width: 300px;
		font-size: 16px;
	}
	.hero.container {
		width: 400px;
		max-width: 450px;
		min-width: 200px;
	}
}
