.login-header {
	display: flex;
	justify-content: flex-end;
	color: gray;
}
.login-header h1 {
	margin-right: 20px;
}
.login-header strong {
	color: var(--primary-color);
}
.register-header {
	justify-content: space-between;
}
.back {
	cursor: pointer;
}
.back span {
	font-size: 20px;
}
.developers-container {
	width: 50px;
	height: 48px;
	background-image: url("../img/Polygon\ 3-1.png");
	display: flex;
	justify-content: center;
	align-items: center;
}
.business-container {
	width: 50px;
	height: 48px;
	background-image: url("../img/Polygon\ 3.png");
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
}
.form-container {
	width: 400px;
	margin: 100px auto;
}
.card-title {
	font-weight: bold;
	font-size: 35px;
	color: #000;
}
.card-description {
	color: grey;
	font-size: 20px;
	margin-bottom: 30px;
}
.grid-container {
	display: grid;
	align-items: center;
	grid-template-columns: 70px 1fr 50px;
	cursor: pointer;
	border: 0px;
}
.grid-container:hover {
	border: 1px solid var(--primary-color);
}
.text-container h1 {
	font-size: 16px;
	color: black;
	font-weight: 500;
}
.text-container p {
	font-size: 15px;
}
.flecha {
	width: 20px;
	margin-left: 20px;
}
@media (max-width: 600px) {
	.card-title {
		font-size: 20px;
		text-align: center;
	}
	.card-description {
		font-size: 16px;
		text-align: center;
	}
	.text-container h1 {
		font-size: 14px;
	}
	.text-container p {
		font-size: 13px;
	}
	.grid-container {
		width: 330px;
		margin-left: auto;
		margin-right: auto;
		grid-template-columns: 60px 200px 40px;
	}
	.flecha {
		margin-left: 5px;
	}
}
@media (max-width: 450px) {
	.card-description {
		font-size: 12px;
	}
}
@media (max-width: 350px) {
	.column {
		width: 400px;
	}
}