.input:focus {
	border-color: var(--primary-color);
}
.input {
	margin-top: 5px;
	margin-bottom: 5px;
}
.button.is-success {
	margin-top: 20px;
	margin-bottom: 20px;
}
.form-title {
	font-size: 20px;
	font-weight: bold;
}
.register-text {
	margin-bottom: 5px;
	padding-bottom: 10px;
	border-bottom: 1px solid #8080802b;
}
.register-container {
	width: 400px;
	margin: 20px auto;
}
.modal.is-active {
	display: flex;
}
.localization-text {
	font-size: 14px;
	color: gray;
}
