.input:focus {
	border-color: var(--primary-color);
}
.input {
	margin-top: 5px;
	margin-bottom: 5px;
}
.button.is-success {
	margin-top: 20px;
	margin-bottom: 20px;
}
.form-title {
	font-size: 20px;
	font-weight: bold;
}
.register-text {
	margin-bottom: 5px;
	padding-bottom: 10px;
	border-bottom: 1px solid #8080802b;
}
.register-container {
	width: 400px;
	margin: 20px auto;
}
.modal.is-active {
	display: flex;
}
.localization-text {
	font-size: 14px;
	color: gray;
}
@media (max-width: 600px) {
	.input {
		width: 350px;
	}
	.button.is-success {
		width: 350px;
	}
	.button.is-white {
		width: 350px;
	}
	.form-title {
		text-align: center;
	}
	.localization-text {
		text-align: center;
	}
	form {
		width: 370px;
		margin-left: auto;
		margin-right: auto;
	}
}
@media (max-width: 400px) {
	.input {
		width: 300px;
	}
	.button.is-success {
		width: 300px;
	}
	.button.is-white {
		width: 300px;
	}

	form {
		width: 350px;
		margin-left: auto;
		margin-right: auto;
	}
}
