@import "https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css";

:root {
	--primary-color: #67a563;
}

.App {
	height: 100vh;
	background-image: url("./assets/img/Background.png");
	background-repeat: no-repeat;
	background-size: 50%;
}

@media (max-width: 800px) {
	.App {
		background-size: 100%;
		width: 100%;
	}
}
